.b-burger {
  display: none;

  @media (max-width: $tablet) {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
  }

  .item {
    background-color: $white;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    transition: all .15s ease-in-out;
    position: absolute;
    left: 0;

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
    }

    &.middle {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.active {

    .item {

      &.middle {
        opacity: 0;
      }

      &.top {
        transform: rotate(45deg);
        top: calc(50% - 3px);
      }

      &.bottom {
        transform: rotate(-45deg);
        bottom: calc(50% - 3px);
      }
    }
  }
}