.b-contacts {
    display: flex;
    flex: 1;

    @media (max-width: $desctop1440) {
        flex-direction: column-reverse;
    }

    .hold__map {
        width: 100%;

        @media (max-width: $desctop1440) {
            min-height: 400px;
        }
    }


    .hold__contacts {
        display: flex;
        flex: 475px 0;
        flex-direction: column;
        justify-content: flex-start;
        background: $lightbrown url(../img/bg-brown-triangl.png) no-repeat right bottom;
        color: $white;
        padding: 100px 98px;
        height: 600px;

        @media (max-width: $desctop1600) {
            padding: 58px;
        }

        @media (max-width: $desctop1440) {
            flex: 100%;
            height: 100%;
        }

        @media (max-width: $tablet) {
            background: $lightbrown;
            padding: 30px 15px;
        }

        &.min-height {
            min-height: calc(100vh - 189px);

            @media (max-width: $tablet) {
                min-height: auto;
            }
        }

        .contact__item {
            display: flex;
            align-items: flex-start;

            & + .contact__item {
                margin-top: 30px;
            }

            &_text {
                font-size: 1.1em;
                margin-left: 26px;
                color: $white;
                white-space: nowrap;

                @media (max-width: $tablet) {
                    font-size: .9em;
                }
            }
        }
    }
}