.b-features {
  margin: 115px 0 120px;

  @media (max-width: $desctop) {
    margin: 55px 0 60px;
  }

  .holder {
    background: url(../img/bg-feature_1.png) no-repeat -5px -5px $pale;
    background-size: auto calc(100% + 10px);
    padding: 100px 95px 45px;
    max-width: 1530px;
    min-width: 32px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;

    @media (max-width: $desctop) {
      background: $pale;
      padding: 45px 15px;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
    }

    .item {
      max-width: 295px;
      position: relative;
      z-index: 2;

      @media (max-width: $desctop) {
        position: static;
        max-width: calc(33.33% - 20px);
      }

      @media (max-width: $mobile) {
        max-width: 100%;
        text-align: center;
      }

      & + .item {
        @media (max-width: $desctop) {
          margin-left: 30px;
        }

        @media (max-width: $mobile) {
          margin: 45px 0 0;
        }
      }

      .image {

        .hand {
          width: 100px;
          height: 120px;
        }

        .valute {
          width: 250px;
          height: 160px;
        }

        .clock {
          width: 115px;
          height: 115px;
        }

        img {
          display: block;

          @media (max-width: $mobile) {
            margin: 0 auto;
          }
        }
      }

      .title {
        font: 1.2em 'Bitter', serif;
        font-weight: $f-medium;
        margin-top: 30px;
        text-transform: uppercase;
        color: $dark;

        @media (max-width: $mobile) {
          margin-top: 20px;
        }
      }

      .text {
        margin-top: 30px;
        font: .8em/1.5 'Montserrat';
        font-weight: $f-regular;
        color: $dark;

        @media (max-width: $mobile) {
          margin-top: 20px;
        }

        .highlight {
          font-family: 'Montserrat';
          font-weight: $f-semibold;
        }

        & + .image {
          margin-top: 30px;

          @media (max-width: $mobile) {
            margin-top: 20px;
          }
        }
      }

      &.middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -25px;
        bottom: -25px;
        z-index: 1;
        min-width: 678px;
        background: url(../img/bg-feature_2.png) no-repeat center;
        background-size: contain;
        padding-left: 200px;

        @media (max-width: $desctop) {
          position: static;
          min-width: auto;
          padding: 0;
          transform: none;
          background: none;
        }

        .title, .text {
          max-width: 295px;

          @media (max-width: $mobile) {
            max-width: 100%;
          }
        }
      }
    }
  }
}