.b-footer {
    padding-bottom: 60px;

    .holder {
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        @media(max-width: $mobile) {
            flex-direction: column;
        }

        .hold__info {
            display: flex;
            flex-direction: column;

            .info-list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .list-item {
                    font-family: 'Montserrat';
                    font-weight: $f-regular;
                    font-size: .8em;

                    & + .list-item {
                        margin-top: 20px;
                    }
                }
            }

            .card-list {
                display: flex;
                align-items: stretch;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-top: 40px;

                @media(max-width: $mobile) {
                    margin-top: 20px;
                    padding-bottom: 0;
                }

                .card-item {
                    margin: 0 35px 10px 0;
                }
            }

            .text {
                font-family: 'Montserrat';
                font-weight: $f-regular;
                font-size: .6em;
            }
        }

        .hold__nav {
            display: flex;
            align-items: stretch;
            margin-left: 20px;

            @media(max-width: $mobile) {
                margin: 20px 0 0;
            }

            .nav-list-block {
                display: flex;
                flex-direction: column;
                position: relative;

                & + .nav-list-block {
                    margin-left: 50px;
                    padding-left: 50px;

                    @media(max-width: $desctop) {
                        margin-left: 25px;
                        padding-left: 25px;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1px;
                        height: 250px;
                        border-left: 1px solid transparent;
                        border-image: url(../img/bg-border-dashed.png) 1;

                    }
                }

                .title {
                    font-family: 'Montserrat';
                    font-weight: $f-semibold;
                    font-size: .8em;
                    text-transform: uppercase;
                    padding-bottom: 35px;
                }

                .nav-list {


                    .nav-item {
                        font-family: 'Montserrat';
                        font-weight: $f-regular;
                        font-size: .7em;

                        & + .nav-item {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }

        .hold__links {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            margin-left: 20px;

            @media(max-width: $mobile) {
                align-items: flex-start;
                margin: 20px 0 0;
            }

            .g-button {
                transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;

                &.lang {
                    background-color: $cerulean;
                    width: 40px;
                    height: 40px;
                    border-radius: 8px;
                    border: 1px solid transparent;

                    &:hover {
                        background-color: transparent;
                        color: $cerulean;
                        border-color: $cerulean;
                    }
                }
                
                &.individ {
                    border: 1px solid $cerulean;
                    border-radius: 0;
                    background-color: transparent;
                    color: $cerulean;
                    margin-top: 25px;
                    width: 185px;
                    height: 45px;

                    &:hover {
                        background-color: $curious;
                        border-color: $curious;
                        color: $white;
                    }
                }
            }

            .link-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 60px;
                width: 100%;

                @media(max-width: $mobile) {
                    margin-top: 20px;
                    justify-content: flex-start;
                }

                li {

                    & + li {
                        margin-left: 30px;
                    }
                }
            }

            .link {
                font-family: 'Montserrat';
                font-weight: $f-regular;
                font-size: .8em;
                color: $cerulean;
                margin-top: 15px;
            }
        }
    }
}