.b-form {


    .form-row {
        display: flex;
        align-items: stretch;

        @media (max-width: $desctop) {
            flex-direction: column;
        }

        & + .form-row {

        }

        .form-element {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;

            & + .form-element {
                margin-left: 80px;

                @media (max-width: $mediumDesctop) {
                    margin-left: 40px;
                }

                @media (max-width: $desctop) {
                    margin: 25px 0 0;
                }
            }

            .form-label {


            }

            .form-input {
                border: none;
                font-size: 1em;
                color: $black;
                padding: 20px 0;
                outline: 0 none;

                @media (max-width: $desctop) {
                    padding: 10px 0;
                }
            }

            .form-area {
                resize: none;
                height: 70px;
                border: none;
                font-size: .7em;
                color: $black;
                padding: 20px 0;
                outline: 0 none;
            }
        }
    }

    .hold-btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 46px;

        @media (max-width: $mobile) {
            flex-direction: column;
        }

        .g-button {
            margin-left: 60px;

            @media (max-width: $mobile) {
                margin: 30px 0 0;
            }
        }
    }
}