.b-header {
    padding: 68px 0 48px;

    @media (max-width: $tablet) {
        padding: 20px 0 80px;
    }

    .holder {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;

        @media (max-width: $tablet) {
            justify-content: space-between;
        }

        .logo {
            flex: 150px 0 0;

            @media (max-width: $mobile) {
                flex: 100px 0 0;
            }
        }

        .b-menu {
            margin-left: 100px;

            @media (max-width: $desctop1440) {
                margin-left: 50px;
            }

            @media (max-width: $tablet) {
                margin-left: 0;
            }
        }
    }
}