.b-menu {
    display: flex;

    @media (max-width: $tablet) {
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 200%;
        right: 0;
        z-index: 1;
        background-color: $white;
        border-radius: 10px;
        width: 220px;
        box-shadow: 0 0 5px transparentize($black, .85);
        transition: opacity .2s ease-in, top .25s ease-in-out;
        text-align: right;
        padding: 16px 24px;
    }

    .menu__item {

        @media (max-width: $tablet) {
            opacity: 0;
        }

        & + .menu__item {
            margin-left: 60px;

            @media (max-width: $desctop1440) {
                margin-left: 30px;
            }

            @media (max-width: $tablet) {
                margin: 16px 0 0;
            }
        }

        &__link {
            font-family: 'Montserrat';
            font-weight: $f-regular;
            font-size: .85em;
            color: $white;

            @media (max-width: $tablet) {
                color: $dark;
                font-size: .9em;
            }
        }
    }

    &.active {
        @media (max-width: $tablet) {
            opacity: 1;
            visibility: visible;
            top: 100%;
        }

        .menu__item {
            opacity: 1;
        }
    }
}