.b-payments {

    @media (max-width: $desctop) {
        margin-top: 40px;
    }

    .g-title-h2 {
        text-align: center;
        padding-bottom: 100px;

        @media(max-width: $tablet) {
            padding-bottom: 30px;
        }
    }

    .holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .hold__items {
            display: flex;
            justify-content: space-around;
            align-items: stretch;
            width: 100%;

            
            @media(max-width: $mobile) {
                flex-direction: column;
                padding-bottom: 30px;
            }

            .payment__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                & + .payment__item {
                    margin-left: 50px;

                    @media(max-width: $mobile) {
                        margin: 30px 0 0;
                    }
                }

                .hold__img {
                    display: block;
                    max-width: 130px;
                    min-height: 116px;

                    img {
                        max-height: 120px;
                    }
                }

                .hold__text {
                    margin-top: 30px;

                    @media(max-width: $tablet) {
                        margin: 15px 0 0;
                    }

                    .title {
                        font-family: 'Montserrat';
                        font-weight: $f-semibold;
                        font-size: .8em;
                    }
                }
            }
        }

        .text {
            font-family: 'Montserrat';
            font-size: .8em;
            line-height: 1.5;
            font-weight: 300;
            text-align: center;
            max-width: 510px;
            margin-top: 70px;

            @media(max-width: $tablet) {
                font-size: .7em;
                line-height: normal;
                max-width: 100%;
                margin-top: 0;
            }
        }

        .hold__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 80px;

            @media(max-width: $tablet) {
                margin-top: 30px;
            }

            .label {
                font-family: 'Montserrat';
                font-weight: $f-semibold;
                font-size: .8em;
                text-align: center;
                color: $curious;
                padding-bottom: 25px;
            }

            .hold__items {
                display: flex;
                justify-content: space-around;
                align-items: stretch;
                width: 100%;
                padding-bottom: 40px;

                @media(max-width: $tablet) {
                    padding-bottom: 20px;
                }

                &.bg-line {
                    background: url(../img/bg-line-trans.png) no-repeat top;

                    @media(max-width: $tablet) {
                        background: none;
                    }
                }
    
                .payment__item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 120px 0 0 30px;

                    @media(max-width: $tablet) {
                        padding: 0;
                    }

                    & + .payment__item {
                        margin-left: 70px;

                        @media(max-width: $mobile) {
                            margin: 30px 0 0;
                        }
                    }
    
                    .hold__img {
                        min-height: 75px;

                        img {
                            max-height: 75px;
                            max-width: 90px;
                        }
                    }
    
                    .hold__text {
                        margin-top: 25px;

                        @media(max-width: $tablet) {
                            margin: 10px 0 0;
                        }
    
                        .title {
                            font-family: 'Montserrat';
                            font-weight: $f-semibold;
                            font-size: .8em;
                        }
                    }
                }
            }
        }
    }
}