.b-platforms {
    display: flex;
    position: relative;
    background: url(../img/bg-lines.svg) no-repeat 100% 35%,
    url('../img/bg-multiplatform 2.png') no-repeat center;
    background-size: 60% auto, auto;
    min-height: 950px;
    padding-bottom: 30px;
    overflow: hidden;

    @media (max-width: $tablet) {
        min-height: 600px;
        background: none;
    }

    .g-container {
        max-width: 1330px;
    }

    .holder {
        padding-top: 100px;

        @media (max-width: $desctop) {
            padding: 0;
        }
        
        .hold-content {
            display: flex;
            flex-direction: column;
            max-width: 500px;
            min-height: 935px;
            margin-top: 100px;

            @media (max-width: $desctop1600) {
                margin-top: 50px;
            }

            @media (max-width: $tablet) {
                min-height: auto;
                margin: 0;
            }

            @media (max-width: $mobile) {
                align-items: center;
                max-width: 100%;
            }

            .g-title-h2 {

                @media (max-width: $smallMobile) {
                    font-size: 1.1em;
                }
            }

            .subtitle {
                font-family: 'Bitter';
                font-weight: $f-light;
                font-size: .8em;
                line-height: 1.750;
                color: $black;
                margin-top: 35px;
                max-width: 350px;

                @media (max-width: $mobile) {
                    font-size: .7em;
                    line-height: normal;
                    max-width: 100%;
                    margin-top: 15px;
                }

                .mortar {
                    font-family: 'Bitter';
                    font-weight: $f-semibold;
                    color: $mortar;
                }
            }

            .text {
                font-family: 'Montserrat';
                font-weight: $f-regular;
                font-size: .8em;
                line-height: 1.750;
                color: $white;
                margin-top: 280px;
                max-width: 330px;
                padding-bottom: 40px;

                @media (max-width: $desctop1600) {
                    margin-top: 0;
                    color: $black;
                    margin-top: 20px;
                    padding-bottom: 20px;
                }

                @media (max-width: $mobile) {
                    max-width: 100%;
                    font-size: .7em;
                    line-height: normal;
                    margin-top: 15px;
                }
            }

            .hold-btn {

                .g-button {

                }
            }
        }
    }

    .img-platforms {
        position: absolute;
        right: 0;
        bottom: 150px;
        z-index: 2;

        @media (max-width: $desctop1600) {
            width: 70%;
            bottom: 200px;
        }

        @media (max-width: $tablet) {
            bottom: 60px;
        }

        @media (max-width: $mobile) {
            width: 70%;
            right: 50%;
            transform: translateX(50%);
        }

        @media (max-width: $smallMobile) {
            width: 100%;
        }
    }
}