.b-routing {
    display: flex;
    position: relative;
    background: url(../img/bg-routing.svg) no-repeat 62% 33%,
    url('../img/bg-routing 2.png') no-repeat center;
    background-size: 1100px auto, auto;
    min-height: 980px;

    @media (max-width: $desctop) {
        min-height: 770px;
    }
    
    @media (max-width: $smallMobile) {
        min-height: 670px;
    }

    .g-container {
        max-width: 1330px;
    }

    .holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;

        .hold-content {
            display: flex;
            flex-direction: column;
            max-width: 500px;
            padding-top: 200px;

            @media (max-width: $desctop) {
                padding-top: 100px;
            }

            .title {
                font-family: 'Bitter';
                font-weight: $f-medium;
                font-size: 1.7em;
                color: $white;
                padding-bottom: 40px;
            }

            .text {
                font-family: 'Montserrat';
                font-weight: $f-regular;
                font-size: .8em;
                line-height: 1.5;
                color: $white;
                padding-bottom: 45px;
            }

            .hold-btn {
                
                .g-button {
                    color: $maya;
                    border: 1px solid $maya;
                    background-color: transparent;

                    &:hover {
                        background-color: $bahama;
                    }
                }
            }
        }
    }
}