.b-section {
    position: relative;
    padding-bottom: 30px;

    &.expertise {
        // box-shadow: 0px -10px 5px 0px rgba(50, 50, 50, 0.48);
        padding-bottom: 0;

        .holder {
            display: flex;
            background: url(../img/bg-solutions.png) no-repeat 60% 15%;

            @media(max-width: $mediumDesctop) {
                background: none;
            }

            @media(max-width: $desctop) {
                flex-direction: column-reverse;
            }

            .hold-img {

                @media(max-width: $desctop) {
                    margin: 0 -15px;
                    padding-top: 20px;
                }

                img {
                    display: block;
                    transform: translateX(-30px);
                    width: 100%;

                    @media(max-width: $desctop) {
                        transform: none;
                    }
                }
            }

            .hold-content {
                padding: 0 0 0 30px;
                justify-content: center;

                @media(max-width: $desctop) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                }

                .title {
                    font-family: 'Bitter', serif;
                    font-weight: $f-medium;
                    font-size: 1.4em;
                    padding-bottom: 25px;

                    @media(max-width: $tablet) {
                        font-size: 1.3em;
                    }
                }

                .text {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: $f-regular;
                    font-size: .8em;
                    line-height: 1.5;
                    max-width: 650px;

                    @media(max-width: $desctop) {
                        max-width: 100%;
                    }

                    @media(max-width: $mobile) {
                        font-size: .7em;
                        line-height: normal;
                    }
                }
            }
        }
    }

    &.platforms {
        display: flex;
        position: relative;
        background: url(../img/bg-platform.png) no-repeat;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 200px;
            background: url(../img/bg-platforms.png) no-repeat;
            width: 67%;
            height: 100%;
        }

        .holder {

            .hold-content {

                .g-title-h2 {
                    padding-bottom: 30px;
                }

                .subtitle {
                    font-family: 'Montserrat';
                    font-weight: $f-regular;
                    font-size: .8em;
                    max-width: 370px;
                }

                .text {

                    &.white {
                        font-family: 'Montserrat';
                        font-weight: $f-regular;
                        font-size: .8em;
                        color: $white;
                        padding-top: 370px;
                        max-width: 328px;
                    }
                }

                .hold-btn {
                    margin-top: 40px;
                }
            }
        }
    }

    &.kassir {

        @media (max-width: $mobile) {
            transform: none;
        }

        .holder {
            justify-content: center;
            align-items: center;

            @media(max-width: $desctop) {
                flex-direction: row;
            }

            @media(max-width: $tablet) {
                flex-direction: column;
            }

            .hold-img {
                display: block;

                @media(max-width: $desctop) {
                    width: 50%;
                }

                @media(max-width: $smallMobile) {
                    width: 80%;
                }
            }

            .hold-content {
                width: 50%;
                padding: 0 0 0 80px;

                @media (max-width: $tablet) {
                    width: 100%;
                    padding: 30px 0 0;
                }

                .title {
                    font-family: 'Bitter';
                    font-weight: $f-medium;
                    font-size: 1.4em;
                    padding-bottom: 30px;

                    @media (max-width: $tablet) {
                        font-size: 1.3em;
                    }

                    .blue {
                        color: $curious;
                    }
                }

                .text {
                    font-family: 'Montserrat';
                    font-weight: $f-regular;
                    font-size: .8em;
                    line-height: 1.5;

                    @media (max-width: $tablet) {
                        font-size: .7em;
                        line-height: normal;
                    }
                }
                
                .hold-btn {
                    margin: 40px 0 0;

                    .g-button {
                        background-color: $curious;

                        &:hover {
                            background-color: $picton;
                            border-color: $picton;
                        }
                    }
                }
            }
         }
    }

    .holder {
        display: flex;
        justify-content: flex-start;

        @media(max-width: $desctop) {
            flex-direction: column;
            justify-content: center;
        }

        .hold-content {
            display: flex;
            flex-direction: column;
            padding: 80px 70px 0 0;

            @media(max-width: $tablet) {
                padding: 0 0 30px;
            }

            .g-title-h1 {
                padding-bottom: 5px;
            }

            .subtitle {
                font-family: 'Bitter';
                font-weight: $f-light;
                font-size: 2.5em;
                text-transform: lowercase;

                @media(max-width: $tablet) {
                    font-size: 1.3em;
                }
            }

            .hold-btn {
                display: flex;
                align-items: center;
                margin-top: 70px;

                @media(max-width: $tablet) {
                    align-items: flex-start;
                    margin-top: 30px;
                }

                .g-button {
                    
                    & + .g-button {
                        margin-left: 20px;

                        @media(max-width: $mobile) {
                            margin-left: 10px;
                            padding: 10px 5px;
                        }
                    }
                }
            }
        }

        .hold-img {
            display: flex;
            justify-content: center;
            align-items: center;

            .phones {
                max-width: 650px;

                @media(max-width: $mobile) {
                    max-width: 500px;
                }

                @media(max-width: $mobile600) {
                    max-width: 400px;
                }

                @media(max-width: $smallMobile) {
                    max-width: 300px;
                }
            }
        }
    }
}