.b-solution {
    padding-bottom: 50px;

    &.automation {
        padding: 120px 0 0px;

        @media(max-width: $desctop) {
            padding: 60px 0;
        }

        @media(max-width: $tablet) {
            padding: 0 0 40px;
        }


        .holder {
            background: url(../img/bg-line.png) no-repeat top center;
            justify-content: space-between;
            background-size: calc(100% - 300px) auto;

            @media(max-width: $mediumDesctop) {
                background: none;
            }

            @media(max-width: $tablet) {
                flex-direction: column;
                align-items: center;
            }

            .solution__item {
                flex: calc(33% - 50px) 0;
                padding-top: 120px;
                max-width: 300px;

                @media(max-width: $tablet) {
                    padding: 0;
                    max-width: 100%;
                }

                & + .solution__item {
                    margin: 30px 0 0;
                }

                &.reverse {
                    flex-direction: column-reverse;
                    padding: 0 0 140px;
                    transform: translateY(-120px);

                    @media(max-width: $tablet) {
                        flex-direction: column;
                        padding: 0;
                        transform: none;
                    }
                }

                .item__img {

                    @media(max-width: $tablet) {
                        max-width: 150px;
                        margin-left: -15px;
                    }
                }

                .hold__text {
                    margin: 0;
                    border: none !important;

                    &:before {
                        display: none;
                    }

                    .item__title {
                        font-size: 1.4em;
                        min-height: auto;
                        padding-bottom: 20px;

                        @media(max-width: $tablet) {
                            font-size: 1.1em;
                        }
                    }

                    .item__text {

                    }
                }
            }
        }
    }

    .g-title-h2 {
        padding: 0 0 80px 390px;

        @media(max-width: $desctop) {
            padding: 0 0 30px;
            text-align: center;
        }
    }

    .holder {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;

        @media(max-width: $desctop) {
            justify-content: space-between;
        }

        .solution__item {
            display: flex;
            flex: calc(25% - 40px) 0;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;

            @media(max-width: $desctop) {
                flex: calc(50% - 25px) 0;
                padding-bottom: 30px;
            }

            @media(max-width: $mobile) {
                flex: 100%;
                align-items: flex-start;
                padding-bottom: 20px;
            }

            & + .solution__item {
                margin-left: 50px;

                @media(max-width: $desctop) {

                    &:nth-child(3n) { 
                        margin-left: 0;
                    }
                }

                @media(max-width: $mobile) {
                    margin: 0;
                }

                .hold__text {
                    position: relative;
                    padding-left: 50px;
                    height: 100%;
                    border-left: 1px solid transparent;
                    border-image: url(../img/bg-border-dashed.png) 1;

                    @media(max-width: $desctop) {
                        padding: 0;
                        border: none;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: -1px;
                        width: 1px;
                        height: 38px;
                        background-color: $perano;

                        @media(max-width: $desctop) {
                            display: none;
                        }
                    }
                }
            }

            .item__img {
                display: block;
                width: 100%;

                &.height {
                    margin-left: -20px;
                    padding-left: 100px;

                    @media(max-width: $desctop) {
                        padding: 0;
                    }
                }
            }

            .hold__text {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                position: relative;
                // margin-top: 30px;

                .item__title {
                    font-family: 'Bitter';
                    font-weight: $f-medium;
                    font-size: 1.3em;
                    padding-bottom: 15px;

                    @media(max-width: $desctop) {

                    }

                    @media(max-width: $mobile) {
                        font-size: 1.1em;
                        min-height: auto;
                    }
                }
    
                .item__text {
                    font-family: 'Montserrat';
                    font-weight: $f-regular;
                    font-size: .8em;
                    line-height: 1.500;

                    @media(max-width: $mobile) {
                        font-size: .7em;
                        line-height: normal;
                    }
                }
            }
        }
    }
}