        <footer id="footer" class="b-footer">
            <div class="g-container">
                <div class="holder">
                    <div class="hold__info">
                        <ul class="info-list">
                          <li class="list-item">Все права защищены 2019, ООО “СРППЭЙ”</li>
                          <li class="list-item"><strong>Расчетная организация</strong> АО НКО “Сетевая Расчетная Палата”</li>
                          <li class="list-item"><strong>ОГРН</strong> 1197746592614</li>
                          <li class="list-item"><strong>ИНН</strong> 9703002590</li>
                        </ul>
                        <ul class="card-list">
                          <li class="card-item">
                            <img src="img/ic-dss.png" alt="">
                          </li>
                          <li class="card-item">
                            <img src="img/ic-mastercard.png" alt="">
                          </li>
                          <li class="card-item">
                            <img src="img/ic-mir.png" alt="">
                          </li>
                          <li class="card-item">
                            <img src="img/ic-visa.png" alt="">
                          </li>
                        </ul>
                        <span class="text">Authorised and regulated by the Financial Conduct Authority</span>
                    </div>
                    <div class="hold__nav">
                        <div class="nav-list-block">
                                <span class="title">Решения</span>
                                <ul class="nav-list">
                                    <li class="nav-item">
                                        <a href="#">Платежи</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#">Выплаты</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#">Платежные методы</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#">Предоплатные карты</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#">Виртуальные карты</a>
                                    </li>
                                </ul>
                        </div>
                        <div class="nav-list-block">
                            <span class="title">Помощь</span>
                            <ul class="nav-list">
                                <li class="nav-item">
                                    <a href="#">Интеграция (API)</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#">Безопасность</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#">Контакты</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#">Тарифы и условия</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hold__links">
                        <a href="#" class="g-button lang">En</a>
                        <a href="#" class="g-button individ">Физическим лицам</a>
                        <ul class="link-list">
                            <li>
                                <a href="#"><img src="img/ic-vkontakte.png" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/ic-telegram.png" alt="" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/ic-instagram.png" alt="" /></a>
                            </li>
                        </ul>
                        <a href="#" class="link">support@email.com</a>
                    </div>
                </div>
            </div>
        </footer>
      <!-- </div> -->

    <script src="js/bundle.js"></script>
  </body>
</html>
