<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.bundle.css" />

    <title><%=title%></title>
  </head>
  <body>

    <!-- <div class="g-wrapper"> -->
        <header id="header" class="b-header">
            <div class="g-container">
                <div class="holder">
                    <a href="#" class="logo">
                        <img src="img/ic-logo.svg" alt="">
                    </a>
                    <ul class="b-menu">
                        <li class="menu__item">
                            <a class="menu__item__link" href="#">Решения</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__item__link" href="#">Преимущества</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__item__link" href="#">Технологии </a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__item__link" href="#">Документация</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__item__link" href="#">Поддержка</a>
                        </li>
                    </ul>
                    <div class="b-burger">
                        <div class="item top"></div>
                        <div class="item middle"></div>
                        <div class="item bottom"></div>
                    </div>
                </div>
            </div>
        </header>

