<%  var data = {
      title: "SRPpay"
    }; 
%>
  
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="b-section">
    <div class="g-container">
        <div class="holder">
            <div class="hold-content">
                <span class="g-title-h1">Платежные решения</br>и финансовые технологии </span>
                <span class="subtitle">Для вас и вашего бизнеса</span>

                <div class="hold-btn">
                    <a href="#" class="g-button">Подключиться</a>
                    <a href="#" class="g-button transparent">Личный кабинет</a>
                </div>
            </div>
            <div class="hold-img">
                <img class="phones" src="img/bg-phones.svg" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="b-solution">
    <div class="g-container">
        <div class="g-title-h2">Кому мы подходим?</div>
        <div class="holder">
            <div class="solution__item">
                <div class="item__img height"><img src="img/ic-finance.png" alt=""></div>
                <div class="hold__text">
                    <span class="item__title">Микрофинансы</span>
                    <span class="item__text">Предоставляем решения для выплаты займов на банковские карты и электронные кошельки, а также уникальные решения для погашения выданных займов в онлайне.</span>
                </div>
            </div>
            <div class="solution__item">
                <div class="item__img height"><img src="img/ic-store.png" alt=""></div>
                <div class="hold__text">
                    <span class="item__title">Интернет-магазинам</span>
                    <span class="item__text">Предоставляем решение для приема оплаты на Вашем сайте и реализуем весь процесс безопасной сделки, выступая гарантом при расчетах.</span>
                </div>
            </div>
            <div class="solution__item">
                <div class="item__img height"><img src="img/ic-workers.png" alt=""></div>
                <div class="hold__text">
                    <span class="item__title">Тем, кто работает с самозанятыми</span>
                    <span class="item__text">Проверяем физических лиц на предмет регистрации в ФНС и проводим выплаты на банковские карты и электронные кошельки. Для самозанятого - возможность встать на учет в ФНС.</span>
                </div>
            </div>
            <div class="solution__item">
                <div class="item__img height"><img src="img/ic-taxies.png" alt=""></div>
                <div class="hold__text">
                    <span class="item__title">Таксопаркам</span>
                    <span class="item__text">Предоставляем простейший API и личный кабинет для выплат
                        в онлайне денежных средств водителям на банковские карты и электронные кошельки.</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b-section expertise">

    <div class="g-container">
        <div class="holder">
            <div class="hold-img">
                <img src="img/bg-solutions.svg" alt="" />
            </div>
            <div class="hold-content">
                <span class="title">Найдем решение и для вас!</span>
                <span class="text">Эксклюзивная IT экспертиза в платежах позволяет нам быть гибкими в подходах к потребностям малого и крупного бизнеса. Поэтому мы готовы экспериментировать и решать любые бизнес-задачи на стыке финансов и технологий. Погружаемся в любые бизнес-задачи на стыке финансов и технологий. Не решаемых проектов не бывает.</span>
            </div>
        </div>
    </div>

</section>

<section class="b-solution automation">
    <div class="g-container">
        <div class="holder">
            <div class="solution__item">
                <div class="item__img"><img src="img/ic-comfort.png" alt=""></div>
                <div class="hold__text">
                    <span class="item__title">Комфорт</span>
                    <span class="item__text">Наши Платежные инструменты удобны и понятны клиентам. Комфортная и быстрая оплата  будет стимулировать покупателей возвращаться снова и снова и увеличит их лояльность к вам и вашему бизнесу.</span>
                </div>
            </div>
            <div class="solution__item reverse">
                <div class="item__img"><img src="img/ic-automation.png" alt=""></div>
                <div class="hold__text">
                    <span class="item__title">Автоматизация</span>
                    <span class="item__text">Регулярные платежи — это легко и просто! Установите наше решение для оплаты, настройте необходимый тип операций, выберите период, сумму и мы позаботимся о том, чтобы оплата была вовремя списана и зачислена на ваш счет.</span>
                </div>
            </div>
            <div class="solution__item">
                <div class="item__img"><img src="img/ic-approach.png" alt=""></div>
                <div class="hold__text">
                    <span class="item__title">Индивидуальный подход</span>
                    <span class="item__text">Мы создадим платежную форму, которая будет максимально соответствовать вашему бизнесу. Вы сможете передавать и запрашивать дополнительную информацию по вашим клиентам, анализировать их поведение, платежную дисциплину и многое другое.</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b-platforms">
    <div class="g-container">
        <div class="holder">
            <div class="hold-content">
                <span class="g-title-h2">Мультиплатформенность</span>
                <div class="subtitle">
                    <span class="mortar">Cмартфоны, планшеты, игровые консоли, компьютеры, TV</span> – не проблема!
                </div>
                <span class="text white">Адаптивная платежная страница будет идеально смотреться и увеличит комфорт оплат вашим клиентам.</span>
                <div class="hold-btn">
                    <a href="#" class="g-button">Подключиться</a>
                </div>
            </div>
        </div>
    </div>
    <img src="img/bg-monitor.png" class="img-platforms" alt="" />
</section>

<section class="b-section kassir">
    <div class="g-container">
        <div class="holder">
            <div class="hold-img">
                <img src="img/bg-payment.png" alt="">
            </div>
            <div class="hold-content">
                <div class="title">Готовое решение <span class="blue">54-ФЗ</span></div>
                <span class="text">С 1 июля 2017 года вступил в силу закон 54-ФЗ “О применении контрольно-кассовой техники”, который обязывает организаций установить онлайн-кассу и выдавать чек плательщику за каждую покупку.</span>
                <div class="hold-btn">
                    <a href="#" class="g-button">Подключиться</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b-routing">
    <div class="g-container">
        <div class="holder">
            <div class="hold-content">
                <span class="title">Маршрутизация платежей</span>
                <span class="text">Максимальная конверсия платежей, снижение финансовых затрат, новые рынки для бизнеса.</span>
                <div class="hold-btn">
                    <a href="#" class="g-button">Личный кабинет</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b-payments">
    <div class="g-container">
        <div class="g-title-h2">Осуществляйте выплаты</div>
        <div class="holder">
            <div class="hold__items">
                <div class="payment__item">
                    <div class="hold__img"><img src="img/ic-lk.svg" alt=""></div>
                    <div class="hold__text">
                        <span class="title">Микрофинансы</span>
                    </div>
                </div>
                <div class="payment__item">
                    <div class="hold__img"><img src="img/ic-csv.svg" alt=""></div>
                    <div class="hold__text">
                        <span class="title">СSV-файлом</span>
                    </div>
                </div>
                <div class="payment__item">
                    <div class="hold__img"><img src="img/ic-api.svg" alt=""></div>
                    <div class="hold__text">
                        <span class="title">по API</span>
                    </div>
                </div>
            </div>
            <span class="text">Осуществляйте онлайн-кредитование клиентов как в автоматическом, так и в ручном режиме с помощью сервиса выплат.</span>
            <div class="hold__content">
                <span class="label">Отправляйте деньги любым доступным способом:</span>
                <div class="hold__items bg-line">
                    <div class="payment__item">
                        <div class="hold__img"><img src="img/ic-law-faces.svg" alt=""></div>
                        <div class="hold__text">
                            <span class="title">На счета юрлиц и ИП</span>
                        </div>
                    </div>
                    <div class="payment__item">
                        <div class="hold__img"><img src="img/ic-cards.svg" alt=""></div>
                        <div class="hold__text">
                            <span class="title">Физическим лицам<br/>на карты и кошельки</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b-features">
    <div class="holder">
        <div class="item">
            <div class="image">
                <img class="hand" src="img/ic-hand.svg" alt="" />
            </div>
            <div class="title">Принимайте всё</div>
            <div class="text">Все платежные методы доступны как для осуществления выплат, так и&nbsp;для приёма платежей от&nbsp;ваших клиентов.</div>
        </div>
        <div class="item middle">
            <div class="title">Стирайте границы</div>
            <div class="text">Вы&nbsp;сможете принимать платежи в&nbsp;валюте любой страны мира.</div>
            <div class="image valute">
                <img class="valute" src="img/ic-valute.svg" alt="" />
            </div>
        </div>
        <div class="item">
            <div class="image">
                <img class="clock" src="img/ic-clock.svg" alt="" />
            </div>
            <div class="title">Выставляйте счета<br/>за секунды</div>
            <div class="text"><div class="highlight">Онлайн-инвойсинг</div>Заполните простую форму, укажите сумму, валюту и&nbsp;назначение платежа. Скопируйте ссылку и&nbsp;отправьте её&nbsp;получателю в&nbsp;мессенджер, на&nbsp;email, через SMS.</div>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
