<%  var data = {
    title: "SRPpay"
  }; 
%>

<%= _.template(require('./../includes/header.html').default)(data) %>

<img src="img/ic-api.svg" alt="">

<section class="b-section">
  <div class="g-container">
      <div class="holder">
          <div class="hold-content">
              <span class="g-title-h1">Платежные решения</br>и финансовые технологии </span>
              <span class="subtitle">Для вас и вашего бизнеса</span>

              <div class="hold-btn">
                  <a href="#" class="g-button">Подключиться</a>
                  <a href="#" class="g-button transparent">Личный кабинет</a>
              </div>
          </div>
          <div class="hold-img">
              <img class="phones" src="img/bg-phones.svg" alt="" />
              <div class="item"></div>
              <div class="item"></div>
          </div>
      </div>
  </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
