.g-wrapper {
    padding: 0 197px;
}

.g-container {
    max-width: 1530px;
    min-width: 320px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;  
}

.g-button, .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: $indigo;
    color: $white;
    cursor: pointer;
    transition: $all-transition;
    padding: 15px;
    font-family: 'Montserrat';
    font-weight: $f-regular;
    font-size: .7em;
    text-align: center;
    box-sizing: border-box;
    outline: 0 none;
    white-space: nowrap;
    opacity: 1 !important;

    @media(max-width: $tablet) {
        font-size: .6em;
        padding: 10px 5px;
    }

    &:hover {
        background-color: $dark-cerulean;
        border-color: $dark-cerulean;
    }

    &.transparent {
        background-color: transparent;
        border: 1px solid $indigo;
        color: $indigo;

        &:hover {
            border-color: $white;
            color: $white;
        }
    }
}

.g-title-h1, h1 {
    font-family: 'Bitter';
    font-weight: $f-bold;
    font-size: 2.5em;
    line-height: 1.280;

    @media(max-width: $tablet) {
        font-size: 1.8em;
        line-height: normal;
    }
}

.g-title-h2, h2 {
    font-family: 'Bitter';
    font-weight: $f-medium;
    font-size: 2em;
    line-height: 1.3;

    
    @media(max-width: $tablet) {
        font-size: 1.3em;
        line-height: normal;
    }
}

.g-title-h3, h3 {

}


