@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&display=swap');


@font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: $f-light;
	src: url('../fonts/bitter-v16-cyrillic-300.eot');
	src: local(''),
		 url('../fonts/bitter-v16-cyrillic-300.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/bitter-v16-cyrillic-300.woff2') format('woff2'), 
		 url('../fonts/bitter-v16-cyrillic-300.woff') format('woff'), 
		 url('../fonts/bitter-v16-cyrillic-300.ttf') format('truetype'), 
		 url('../fonts/bitter-v16-cyrillic-300.svg#Bitter') format('svg'); 
  }

  @font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: $f-regular;
	src: url('../fonts/bitter-v16-cyrillic-regular.eot');
	src: local(''),
		 url('../fonts/bitter-v16-cyrillic-regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/bitter-v16-cyrillic-regular.woff2') format('woff2'), 
		 url('../fonts/bitter-v16-cyrillic-regular.woff') format('woff'), 
		 url('../fonts/bitter-v16-cyrillic-regular.ttf') format('truetype'), 
		 url('../fonts/bitter-v16-cyrillic-regular.svg#Bitter') format('svg'); 
  }

  @font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: $f-semibold;
	src: url('../fonts/bitter-v16-cyrillic-600.eot');
	src: local(''),
		 url('../fonts/bitter-v16-cyrillic-600.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/bitter-v16-cyrillic-600.woff2') format('woff2'), 
		 url('../fonts/bitter-v16-cyrillic-600.woff') format('woff'), 
		 url('../fonts/bitter-v16-cyrillic-600.ttf') format('truetype'), 
		 url('../fonts/bitter-v16-cyrillic-600.svg#Bitter') format('svg'); 
  }

  @font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: $f-bold;
	src: url('../fonts/bitter-v16-cyrillic-700.eot'); 
	src: local(''),
		 url('../fonts/bitter-v16-cyrillic-700.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/bitter-v16-cyrillic-700.woff2') format('woff2'), 
		 url('../fonts/bitter-v16-cyrillic-700.woff') format('woff'), 
		 url('../fonts/bitter-v16-cyrillic-700.ttf') format('truetype'), 
		 url('../fonts/bitter-v16-cyrillic-700.svg#Bitter') format('svg'); 
  }

@font-face {
	font-family: 'Montserrat';
	font-weight: $f-regular;
	font-style: normal;
	src: url('../fonts/montserrat-v15-cyrillic-regular.eot');
	src: local('../fonts/Montserrat Regular'), local('Montserrat'),
	url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Regular.woff') format('woff'),
	url('../fonts/montserrat-v15-cyrillic-regular.woff2') format('woff2'),
	url('../fonts/Montserrat-Regular.otf') format('opentype'),
	url('../fonts/Montserrat-Regular.ttf') format('truetype'),
	url('../fonts/montserrat-v15-cyrillic-regular.svg') format('svg');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: $f-medium;
	font-style: normal;
	src: url('../fonts/Montserrat-Medium.eot');
	src: local('../fonts/Montserrat-Medium'), local('Montserrat'),
	url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Medium.woff') format('woff'),
	url('../fonts/montserrat-v15-cyrillic-500.woff2') format('woff2'),
	url('../fonts/Montserrat-Medium.otf') format('opentype'),
	url('../fonts/Montserrat-Medium.ttf') format('truetype'),
	url('../fonts/montserrat-v15-cyrillic-500.svg') format('svg');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: $f-semibold;
	font-style: normal;
	src: url('../fonts/Montserrat-SemiBold.eot');
	src: local('../fonts/Montserrat-Semibold'), local('Montserrat'),
	url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-SemiBold.woff') format('woff'),
	url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: $f-bold;
	font-style: normal;
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('../fonts/Montserrat Bold'), local('Montserrat'),
	url('../fonts/montserrat-v15-cyrillic-700.eot?#iefix') format('embedded-opentype'),
	url('../fonts/montserrat-v15-cyrillic-700.woff2') format('woff2'),
	url('../fonts/montserrat-v15-cyrillic-700.woff') format('woff'),
	url('../fonts/montserrat-v15-cyrillic-700.ttf') format('truetype'),
	url('../fonts/montserrat-v15-cyrillic-700.svg') format('svg');
}


html {
    min-height: 100%;
}

body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100%;
	background: url(../img/bg-gradient-line.png) no-repeat top center;
	background-size: contain;
	font-family: 'Bitter';
	font-weight: $f-regular;
	font-size: $font-default;
	line-height: 1.2;
    color: $black;
}

a {
	transition: $all-transition;
	color: $black;

	&:hover {
		opacity: .8;
		text-decoration: none;
  	}
}

input, textarea {

	&::placeholder {

	}
}

/* Убираем крестик на браузерах в инпут */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* Скрываем надпись из placeholder при клике */
input::-webkit-input-placeholder {
	color: $black;
}
input:focus::-webkit-input-placeholder {
	color: transparent;
}
/* Firefox < 19 */
input:-moz-placeholder {
	color: $black;
}
input:focus:-moz-placeholder {
	color: transparent;
}
/* Firefox > 19 */
input::-moz-placeholder {
	color: $black;
}
input:focus::-moz-placeholder {
	color: transparent;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder {
	color: $black;
} 
input:focus:-ms-input-placeholder {
	color: transparent;
} 
/* Если не вмещается placeholder */
input[placeholder] {
	text-overflow: ellipsis;
}

input::-moz-placeholder     {text-overflow:ellipsis;}
input:-moz-placeholder      {text-overflow:ellipsis;}
input:-ms-input-placeholder {text-overflow:ellipsis;}