// colors
$white: #fff;
$black: #000;
$mortar: #575757;
$indigo: #003260;
$cerulean: #205EA4;
$dark-cerulean: #073E71;
$bahama: #1D4980;
$curious: #448ACB;
$picton: #5096d7;
$maya: #50A2FF;
$perano: #b9b7e7;
$gainsboro: #e7e7e7;
$pale: #e9f1f5;
$dark: #0e0e0e;


// fonts
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semibold: 600;
$f-bold: 700;

$font-default: 20px;

//transitions
$all-transition: all .2s ease-in-out;
$slow-all-transition: all .6s ease-in-out;

//screen sizes
$extraSmallMobile: 320px;
$smallMobile: 414px;
$mobile600: 600px;
$mobile: 767px;
$tablet: 991px;
$desctop: 1140px;
$mediumDesctop: 1367px;
$desctop1440: 1440px;
$desctop1600: 1600px;
$largeDesctop: 1920px;